/* secondary background: #2F303A; */
/* primary background color: #ffffff  */
/* secondary text color: #212121; */
/* primary text color: #757575 */
/* trird text color: #ffffff */
/* accent color: #2196F3 */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --third-text-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto;
}
/* .site-nav > a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
} */
li {
  list-style-type: none;
}

/* БЛОК НАВИГАЦИИ */
.logo {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo > span {
  color: var(--accent-text-color);
}

.site-nav a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
