/* secondary background: #2F303A; */
/* primary background color: #ffffff  */
/* secondary text color: #212121; */
/* primary text color: #757575 */
/* trird text color: #ffffff */
/* accent color: #2196F3 */
/* team-block color: #F5F4FA */
/* 'we are doing' block color: #E5E5E5  */
/* address color: rgba(255, 255, 255, 0.6); */
/* hdr-line-color: #ECECEC */
/* svg-color:#AFB1B8 */

/* Базовые стили */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --third-text-color: #ffffff;
  --background-gray: #2f303a;
  --light-gray: #f5f4fa;
  --we-are-doin-block-color: #e5e5e5;
  --address-color: rgba(255, 255, 255, 0.6);
  --hdr-line-color: #ececec;
  --svg-color: #afb1b8;
  --time: 250ms;
  --time-fuction: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-header {
  margin-bottom: 50px;
}

.flexbox {
  display: flex;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration-line: none;
  transition: color var(--time) var(--time-fuction);
}

/* Шапка сайта */
.header {
  height: 80px;
  align-items: center;
}
.logo {
  text-decoration: none;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.logo > span {
  color: var(--accent-text-color);
}
.logo .logo-white {
  color: var(--third-text-color);
}

.site-nav-list .current {
  color: var(--accent-text-color);
  position: relative;
}

.site-nav-list .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-list .current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  bottom: -1px;
  left: 0;
}

.site-nav-list li {
  margin-right: 50px;
}

.contacts-top .link .icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--time) var(--time-fuction);
}

.contacts-top .link .mail {
  width: 16px;
  height: 12px;
}

.contacts-top .link .tel {
  width: 10px;
  height: 16px;
}

.contacts-top {
  margin-left: auto;
}

.contacts-top .link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-top .contact:not(:last-child) {
  margin-right: 50px;
}

.contacts-top .link:hover .icon,
.link:hover,
.link:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.header-line {
  border-bottom: 1px solid var(--hdr-line-color);
  flex-grow: 1;
}
/* Герой */
.hero-front {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  text-align: center;
}
.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/bg/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain, 1600px;
  text-align: center;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero .button {
  display: inline-block;
  padding: 10px 32px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time) var(--time-fuction);
}

.hero .button:hover {
  background-color: #188ce8;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time) var(--time-fuction);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--time-fuction);
}

.exit-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 27px;
  height: 27px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-text-color);
  border-radius: 100%;
  transition: background-color var(--time) var(--time-fuction);
}

.exit-modal:hover {
  background-color: var(--accent-text-color);
}

.exit-icon {
  fill: #000000;
}

.exit-modal:hover .exit-icon {
  fill: var(--third-text-color);
}

/* Преимущества и Чем занимаемся*/
.advantages,
.working {
  background-color: var(--third-text-color);
}

.advantages .section {
  padding-bottom: 0;
}

.thumb {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.thumb .icon {
  width: 70px;
  height: 70px;
}

.advantages .card {
  width: calc((100% - 30px * 3) * 0.25);
}

.advantages .card:not(:last-child) {
  margin-right: 30px;
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantage-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.working .card {
  width: calc((100% - 30px * 2) * 4 / 12);
}

.working .card:not(:last-child) {
  margin-right: 30px;
}

.working .card-thumb {
  position: relative;
}

.card-thumb .link {
  margin: 0;
  padding: 27px 82px;
  display: block;
  width: 100%;
  height: 70px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
}
/* Наша команда */
.team {
  background-color: var(--light-gray);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.teammate-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.teammate-position {
  margin-top: 0;
  margin-bottom: 16px;
}

.team .card-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .card {
  width: calc((100% - 3 * 30px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .card:not(:last-child) {
  margin-right: 30px;
}

.social-icon-item + .social-icon-item {
  margin-left: 10px;
}
.social-icons {
  justify-content: center;
  align-items: center;
}
.social-icons .social-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--third-text-color);
  transition: background-color var(--time) var(--time-fuction);
}

.social-icon {
  fill: var(--svg-color);
}

.social-icons .social-link:hover,
.social-icons .social-link:focus {
  background-color: var(--accent-text-color);
}

.social-icons .social-link:hover .social-icon,
.social-icons .social-link:focus .social-icon {
  fill: var(--third-text-color);
}
/* Клиенты */

.client-list .client-box + .client-box {
  margin-left: 30px;
}

.client-box {
  display: flex;
  width: calc((100% - 30px * 5) / 6);
  color: var(--svg-color);
}

.client-list .link {
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--svg-color);
  transition: border-color var(--time) var(--time-fuction);
}
.client-list .link:hover .icon,
.client-list .link:focus .icon,
.client-list .link:hover,
.client-list .link:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.client-list .icon {
  fill: var(--svg-color);
  transition: fill var(--time) var(--time-fuction);
}
.client-list .one {
  width: 44px;
  height: 49px;
}

.client-list .two {
  width: 40px;
  height: 52px;
}

.client-list .three {
  width: 41px;
  height: 43px;
}

.client-list .four {
  width: 80px;
  height: 42px;
}

.client-list .five {
  width: 59px;
  height: 47px;
}

.client-list .six {
  width: 88px;
  height: 45px;
}
/* Футер */
.footer {
  background-color: var(--background-gray);
}

.footer .container {
  padding: 60px 15px;
}

.footer .logo {
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  font-style: normal;
  width: calc((100% - 30px * 3) / 4);
  color: var(--third-text-color);
}

.address .link.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.contact.link {
  font-weight: 400;
  line-height: 1.71;
  color: var(--address-color);
}

.contact.link:hover,
.contact.link:focus {
  color: var(--accent-text-color);
}
.address.flexbox {
  flex-direction: column;
}

.join {
  padding-top: 12px;
  margin-left: 30px;
  width: calc((100% - 30px * 3) / 4);
  text-transform: uppercase;
  color: var(--third-text-color);
  font-size: 14px;
  line-height: 1.14;
}

.footer .social-icons {
  justify-content: start;
  margin-top: 20px;
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Портфолио */

.button {
  display: block;
  border-color: var(--active);
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--secondary-text-color);
  background-color: var(--light-gray);
  border-color: transparent;
  transition: color var(--time) var(--time-fuction),
    background-color var(--time) var(--time-fuction);
}

.filter {
  justify-content: center;
}

.filter-button:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
}

.projects {
  flex-wrap: wrap;
}

.projects .card {
  width: calc((100% - 30px * 2) / 3);
  margin-bottom: 30px;
}

.projects .card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-title-name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.projects-title-type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.projects .card-title {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.projects .card:hover,
.projects .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .card:hover .card-overlay,
.projects .card:focus .card-overlay {
  transform: translateY(0);
}
.overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font: normal 400 18px/1.56 "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform var(--time) var(--time-fuction);
}
