$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white: #ffffff;
$bg-gray: #2f303a;
$light-gray: #f5f4fa;
$address-color: rgba(255, 255, 255, 0.6);
$hdr-line-color: #ececec;
$svg-color: #afb1b8;
$time: 250ms;
$time-fuction: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$linear-gradient: rgba(47, 48, 58, 0.4);