.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;

  @include for-size (mobile-only){
      background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../image/mobile/hero-bg-mobile.jpg);

      @include for-size (2x) {
        background-image: linear-gradient(to right, $linear-gradient,$linear-gradient),
                url(../image/mobile/hero-bg-mobile@2x.jpg);
      }
  }

  @include for-size (tablet) {
    background-size: cover;
    background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../image/tab/hero-bg-tab.jpg);

      @include for-size (2x) {
        background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../image/tab/hero-bg-tab@2x.jpg);
      }        
  }

  @include for-size (desktop) {
    background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../image/desk/hero-bg-desk.jpg);

      @include for-size (2x) {
        background-image: linear-gradient(to right, $linear-gradient, $linear-gradient),
                url(../image/desk/hero-bg-desk@2x.jpg);
                }   
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__front {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    max-width: 696px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
