.team {
  background-color: $light-gray;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__card {
 width: 100%;
   background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include for-size (mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    };
  }
  @include for-size (tablet) {
    width: calc((100% - 30px) / 2);
    
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  
  @include for-size (desktop) {
    width: calc((100% - 3 * 30px) / 4);
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  
}



.team__title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $secondary-text-color;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
}
